In [5]:
import pandas as pd
import missingno

In [2]:
df=pd.read_csv('../datasets/Customer-Data.csv')
df1=pd.read_csv('../datasets/Products.csv')

In [11]:
df.head()

,Transaction_date,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,ID,Count,Brand,Model
0,2019-01-02 06:17:00,Mastercard,carolina,Basildon,England,United Kingdom,2019-01-02 06:00:00,2019-01-02 06:08:00,1,1,Apple,Apple iPhone 7
1,2019-01-02 04:53:00,Visa,Betina,Parkville,MO,United States,2019-01-02 04:42:00,2019-01-02 07:49:00,2,1,Samsung,Samsung Galaxy S8 Plus
2,2019-01-02 13:08:00,Mastercard,Federica e Andrea,Astoria,OR,United States,2019-01-01 16:21:00,2019-01-03 12:32:00,3,1,Motorola,Motorola Razr
3,2019-01-03 14:44:00,Visa,Gouya,Echuca,Victoria,Australia,2015-09-25 21:13:00,2019-01-03 14:22:00,4,1,Samsung,Samsung Galaxy S9e
4,2019-01-04 12:56:00,Visa,Gerd W,Cahaba Heights,AL,United States,2018-11-15 15:47:00,2019-01-04 12:45:00,5,1,Apple,Apple iPhone 8 Plus

In [3]:
df1.head()

,Brand,Model,Freq,Display,Processor,Front Camera,Rear Camera,RAM,Storage,Battery,OS,Score
0,Alcatel,Alcatel 1C,6,5.30 inches,MediaTek MT6580,5MP,8MP,2GB,16GB,2460mAh,Android 7.0,20.0
1,Alcatel,Alcatel 1S,2,5.5 inches,Octa-core 1.6 GHz Cortex-A55,5MP,13MP,4GB,64GB,3060mAh,Android 9.0,75.0
2,Alcatel,Alcatel 1V,8,5.5 inches,ARM Cortex-A55 1.6 GHz,5MP,8MP,1GB,16GB,2460mAh,Android 9.0,76.5
3,Alcatel,Alcatel 1X,7,5.30 inches,MediaTek MT6580,5MP,8MP,1GB,16GB,2460mAh,Android 8.1,35.0
4,Alcatel,Alcatel 3,4,5.5 inches,MediaTek MT6739,5MP,13MP,2GB,16GB,3000mAh,Android 8.0,84.5

In [4]:
df1['Front Camera'] = df1['Front Camera'].str.extract('(\d+)')
df1['Rear Camera'] = df1['Rear Camera'].str.extract('(\d+)')
df1['RAM'] = df1['RAM'].str.extract('(\d+)')
df1['Storage'] = df1['Storage'].str.extract('(\d+)')
df1['Battery'] = df1['Battery'].str.extract('(\d+)')
df1['Display']=df1['Display'].str.replace('inches','').astype('float')

In [5]:
df1.head()

,Brand,Model,Freq,Display,Processor,Front Camera,Rear Camera,RAM,Storage,Battery,OS,Score
0,Alcatel,Alcatel 1C,6,5.3,MediaTek MT6580,5,8,2,16,2460,Android 7.0,20.0
1,Alcatel,Alcatel 1S,2,5.5,Octa-core 1.6 GHz Cortex-A55,5,13,4,64,3060,Android 9.0,75.0
2,Alcatel,Alcatel 1V,8,5.5,ARM Cortex-A55 1.6 GHz,5,8,1,16,2460,Android 9.0,76.5
3,Alcatel,Alcatel 1X,7,5.3,MediaTek MT6580,5,8,1,16,2460,Android 8.1,35.0
4,Alcatel,Alcatel 3,4,5.5,MediaTek MT6739,5,13,2,16,3000,Android 8.0,84.5

In [6]:
x=df.merge(df1)
x=x.drop(columns=['Name','OS','Display'])
x.State = x.State.fillna(x.Country)
x.to_csv('Dataset.csv',index=False)

In [8]:
x.shape

(995, 19)